# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# MLflow tracking local directories
mlruns/
mlruns.db

# Exclude the second repository directory from the root git tracking
Workflow-CI/
